{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
  <script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}

<!-- Mount card on to this element. -->
<div id="card"></div>

<!-- Mount Float's card on to this element.
<div id="float"></div> -->

<!-- Mount Llambda's card on to this element. -->
<!-- <div id="llambda"></div> -->

<!-- Mount Polymorphism's card on to this element. -->
<!-- <div id="polymorphism"></div> -->

<!-- Mount Seedpy's card on to this element. -->
<!-- <div id="seedpy"></div> -->

{% endblock %}
